.container-fluid {
    background-color: rgb(120, 200, 200, 0.6);
    border-radius: 1%;
    max-width: 50%;
}
#logo {
    border-radius: 100%;
    height: 15%;
    width: 15%;
    margin-top: 15px;
}
.main {
    margin-top: 2%;
}